* {

  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

@media (max-width: 1536px) {

  #cintillo {
    width: 100%;
    height: 112px;
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.5);
    margin-bottom: 8px
  }

  .logoDiv {

    display: flex;
    justify-content: space-between;
    height: auto;
    margin-left: 20px;
    cursor: pointer
  }

  #logo {

    position: absolute;
    top: 0px;
    height: 80px;
    width: 260px;
    z-index: 100;
    margin-top: 15px
  }

  .buttons {

    position: absolute;
    z-index: 6000;
    height: auto;
    top: 2%;
    right: 1%;
  }


  #login-button:hover {
    background-color: #012ddc49;
  }

  #register-button:hover {

    background-color: #012ddcd1;

  }

  #login-button {
    width: 140px;
    padding: 10px 20px;
    margin-top: 30px;
    margin-right: 5px;
    background-color: white;
    color: #012EDC;
    border: 2px solid #012EDC;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    box-sizing: border-box;
  }

  #register-button {
    width: 130px;
    padding: 10px 20px;
    margin-top: 30px;
    margin-right: 5px;
    background-color: #012EDC;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    box-sizing: border-box;
  }

  .formulario_registro {

    display: flex;
  }

  form {
    width: 700px;
    max-width: 450px;
    margin: 20px auto;
    font-family: Arial, sans-serif;
  }

  form div {
    margin-bottom: 15px;
  }

  label {
    display: block;
    margin-bottom: 5px;
  }

  /* Aplica el color #7F7F7F a los títulos solicitados */
  label[for="nombre"],
  label[for="apellido"],
  label[for="fechaNacimiento"],
  label[for="tipoDocumento"],
  label[for="numeroDocumento"] {
    color: #7F7F7F;

  }

  input[type="text"],
  input[type="date"],
  select {

    width: 100%;
    padding: 8px;
    box-sizing: border-box;
    border: 2px solid #ccc;
    /* Borde gris claro con grosor de 2 */
    border-radius: 5px;
    /* Esquinas ligeramente redondeadas */
  }

  /* Contenedor para los campos de documento */
  .documento-container {
    display: flex;
    gap: 10px;
  }

  .documento-container>div:first-child {
    flex: 0 0 13%;
  }

  .documento-container>div:last-child {
    flex: 1;
  }

  .boton-registro {
    background-color: #012EDC;
    color: #FFFFFF;
    border: none;
    padding: 10px;
    cursor: pointer;
    font-size: 20px;
    width: 100%;
  }

  .boton-registro:hover {
    opacity: 0.9;
  }

  .contenido_bloque1 img {

    height: 835px;
    width: 680px
  }

  .contenido_bloque2 {

    margin: 130px auto 30px auto
  }

  .contenido_bloque2 #titulo_registro {

    margin-left: 10%;
    margin-right: 10%;
    margin-bottom: 10%
  }

  .contenido_bloque2 #titulo_registro p {
    font-size: 36px;
    text-align: center
  }

  .documento-container #documento {

    margin-bottom: 20px
  }

  .contenido_bloque2 #boton_registro {

    margin-top: 20px
  }

  .contenido_bloque2 #cuadro {

    background-color: #F2F2F2;
    height: 100px;
    width: 450px;
    margin: 0 auto;
    margin-top: 80px;
    display: flex;
    justify-content: center;
    align-items: center
  }

  /*.contenido_bloque2 #cuadro p{
  
      font-size: 20px;
    }*/


  .contenido_bloque2 #cuadro p span {

    color: #012EDC;
    font-weight: bold;
    text-decoration: underline;
    cursor: pointer;

  }




  footer {

    display: flex;
    justify-content: space-evenly;
    margin-top: 70px;
    border-top: 3px solid #012EDC;
    height: 350px;
  }

  #footer_logo {
    width: 20%;
    align-content: center;
    margin-top: 60px
  }

  #footer_logo img {
    height: 80px;
    width: 320px
  }

  footer #academia {
    width: 25%;
    align-content: center
  }

  footer #academia h2 {
    color: #012EDC;
    margin-bottom: 60px
  }

  footer #academia p {
    margin-bottom: 20px;
    font-size: 20px
  }

  footer #informacion {
    width: 35%;
    align-content: center
  }

  footer #informacion h2 {
    color: #012EDC;
    margin-bottom: 60px
  }

  footer #informacion p {
    margin-bottom: 60px;
    font-size: 20px
  }

  .registro {

    display: flex;
    flex-direction: column;
    text-align: center
  }

  .registro p {
    color: #012EDC;
    margin-bottom: 10px;
    font-size: 18px
  }

  .registro #linea {
    border: 1px solid #D1D1D1;
    margin-left: 30px;
    margin-right: 30px;

  }

  .registro #creadores p {
    color: #7F7F7F;
    margin-top: 10px;
    margin-bottom: 10px;
    font-size: 16px;
  }


}

@media (min-width: 1537px) {

  #cintillo {
    width: 100%;
    height: 130px;
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.5);
    margin-bottom: 8px
  }

  .logoDiv {

    display: flex;
    justify-content: space-between;
    height: auto;
    margin-left: 20px;
    cursor: pointer
  }

  #logo {

    position: absolute;
    top: 0px;
    height: 100px;
    width: 300px;
    z-index: 100;
    margin-top: 15px
  }

  .buttons {

    position: absolute;
    z-index: 6000;
    height: auto;
    top: 2%;
    right: 1%;
  }


  #login-button:hover {
    background-color: #012ddc49;
  }

  #register-button:hover {

    background-color: #012ddcd1;

  }

  #login-button {
    width: 175px;
    padding: 10px 20px;
    margin-top: 30px;
    margin-right: 5px;
    background-color: white;
    color: #012EDC;
    border: 2px solid #012EDC;
    border-radius: 5px;
    font-size: 20px;
    cursor: pointer;
    box-sizing: border-box;
  }

  #register-button {
    width: 170px;
    padding: 10px 20px;
    margin-top: 30px;
    margin-right: 5px;
    background-color: #012EDC;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 20px;
    cursor: pointer;
    box-sizing: border-box;
  }

  .formulario_registro {

    display: flex;
  }

  form {
    width: 700px;
    max-width: 470px;
    margin: 20px auto;
    font-family: Arial, sans-serif;
  }

  form div {
    margin-bottom: 15px;
  }

  label {
    display: block;
    margin-bottom: 5px;
  }

  /* Aplica el color #7F7F7F a los títulos solicitados */
  label[for="nombre"],
  label[for="apellido"],
  label[for="fechaNacimiento"],
  label[for="tipoDocumento"],
  label[for="numeroDocumento"] {
    color: #7F7F7F;
    font-size: 20px
  }

  input[type="text"],
  input[type="date"],
  select {
    height: 40px;
    width: 100%;
    padding: 8px;
    box-sizing: border-box;
    border: 2px solid #ccc;
    /* Borde gris claro con grosor de 2 */
    border-radius: 5px;
    /* Esquinas ligeramente redondeadas */
    font-size: 18px
  }

  /* Contenedor para los campos de documento */
  .documento-container {
    display: flex;
    gap: 10px;
  }

  .documento-container>div:first-child {
    flex: 0 0 13%;
  }

  .documento-container>div:last-child {
    flex: 1;
  }

  .boton-registro {
    background-color: #012EDC;
    color: #FFFFFF;
    border: none;
    padding: 10px;
    cursor: pointer;
    font-size: 20px;
    width: 100%;
  }

  .boton-registro:hover {
    opacity: 0.9;
  }

  .contenido_bloque1 img {

    height: 900px;
    width: 750px
  }

  .contenido_bloque2 {

    margin: 130px auto 30px auto
  }

  .contenido_bloque2 #titulo_registro {

    margin-left: 10%;
    margin-right: 10%;
    margin-bottom: 10%
  }

  .contenido_bloque2 #titulo_registro p {
    font-size: 48px;
    text-align: center
  }

  .documento-container #documento {

    margin-bottom: 20px
  }

  .contenido_bloque2 #boton_registro {

    margin-top: 20px
  }

  .contenido_bloque2 #cuadro {

    background-color: #F2F2F2;
    height: 100px;
    width: 470px;
    margin: 0 auto;
    margin-top: 80px;
    display: flex;
    justify-content: center;
    align-items: center
  }

  .contenido_bloque2 #cuadro p {

    font-size: 20px;
  }


  .contenido_bloque2 #cuadro p span {

    color: #012EDC;
    font-weight: bold;
    text-decoration: underline;
    cursor: pointer;

  }

  footer {

    display: flex;
    justify-content: space-evenly;
    margin-top: 70px;
    border-top: 3px solid #012EDC;
    height: 450px;
  }

  #footer_logo {
    width: 20%;
    align-content: center;
    margin-top: 60px
  }

  #footer_logo img {
    height: 100px;
    width: 400px
  }

  footer #academia {
    width: 25%;
    align-content: center
  }

  footer #academia h2 {
    color: #012EDC;
    margin-bottom: 60px;
    font-size: 28px
  }

  footer #academia p {
    margin-bottom: 20px;
    font-size: 24px
  }

  footer #informacion {
    width: 35%;
    align-content: center
  }

  footer #informacion h2 {
    color: #012EDC;
    margin-bottom: 60px;
    font-size: 28px
  }

  footer #informacion p {
    margin-bottom: 60px;
    font-size: 24px
  }

  .registro {

    display: flex;
    flex-direction: column;
    text-align: center
  }

  .registro p {
    color: #012EDC;
    margin-bottom: 10px;
    font-size: 22px
  }

  .registro #linea {
    border: 1px solid #D1D1D1;
    margin-left: 30px;
    margin-right: 30px;

  }

  .registro #creadores p {
    color: #7F7F7F;
    margin-top: 10px;
    margin-bottom: 10px;
    font-size: 20px;
  }

}